<% include layout-header %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Book Merchant</h1>
      <div class="row center">
        <h5 class="header col s12 light">The first rule of Book Merchant is don't talk about Book Merchant.</h5>
      </div>
      <div class="row center">
        <a href="/auth/github" 
            id="download-button" 
            class="btn-large waves-effect waves-light orange">
            <i class="material-icons left github">
                <img src="/public/img/github_32px.png"/>
            </i>
            Login with Github
        </a>
      </div>
    </div>
  </div>
  <div id="filler"></div>
<% include layout-footer %>