<% include layout-header %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h2 class="header">My Books</h2>
    <div class="row">
        <form id="addBook">
            <div class="input-field col s4">
              <input id="bookName" type="text" class="validate">
              <label for="bookName">Add Book</label>
            </div>
            <div class="input-field col s4">
              <a type="submit" class="waves-effect waves-light btn">Add</a>
            </div>
        </form>
    </div>
    <% include layout-footer %>
