<% include layout-header %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <h2 class="header">My Books</h2>
    <div class="row">
        <form id="addBook" method="POST" action="addBook">
            <div class="row">
                <div class="input-field col s4">
                    <input id="bookName" name="bookName" type="text" class="validate">
                    <label for="bookName">Add Book</label>
                </div>
                <div class="input-field col s4">
                    <input id="posterUrl" name="posterUrl" type="text" class="validate">
                    <label for="posterUrl">Cover Url</label>
                </div>
                <div class="input-field col s4">
                    <a onclick="document.getElementById('addBook').submit();" class="waves-effect waves-light btn">Add</a>
                </div>
            </div>
        </form>
    </div>
    <div>
        <ul>
            <% for(var i = 0; i < books.length; i++) {%>
                <li><img src="<%=books[i].posterUrl%>" alt="<%=books[i].bookName%>"></li>
            <%}%>
        </ul>
    </div>    
<% include layout-footer %>
